Django==1.5
Markdown==2.3.1
South==0.7.6
amqp==1.0.11
analytics-python==0.4.2
anyjson==0.3.3
billiard==2.7.3.28
boto==2.12.0
celery==3.0.19
celery-with-redis==3.0
distribute==0.6.34
dj-database-url==0.2.1
dj-static==0.0.5
django-attachments==0.3.1
-e git+https://github.com/AWhitty/django-bootstrap3.git@3d1a0e0eec46d5d5495e226512713c2e7d7ef0e5#egg=django_bootstrap3-master
django-celery==3.0.17
django-celery-with-redis==3.0
django-dajax==0.9.2
django-dajaxice==0.5.5
-e git://github.com/initcrash/django-denorm@ef2bd084804b580f27dae9ea37d862368bd978cc#egg=django_denorm-master
django-grappelli==2.4.6
django-heroku-redisify==0.2.1
django-pagedown==0.0.4
django-redis-cache==0.9.7
django-redis-sessions==0.4.0
-e git://github.com/AGoodId/django-s3-collectstatic.git@baf18403f629762a63726e976848e98e79766201#egg=django_s3_collectstatic-master
django-s3-folder-storage==0.1
django-secure==1.0
django-storages==1.1.8
django-timedeltafield==0.7.0
gunicorn==0.16.1
hiredis==0.1.1
kombu==2.5.10
newrelic==1.11.0.55
psycopg2==2.4.6
python-dateutil==2.1
pytz==2013b
raven==3.3.7
redis==2.7.5
requests==1.2.3
six==1.3.0
static==0.4
wsgiref==0.1.2
