{% extends "base.html" %}

{% load static %}

{% block base_content %}
<header>
	{% include "includes/navbar.html" %}
</header>

{% block content %}{% endblock content %}

<footer class="tile inverted">
	<div class="container">
		<div class="row">
			{% block footer_logo %}
				<div class="col-md-1 right"><img src="{% static "img/nhs-logo-on-black.svg" %}" class="logo" alt=""></div>
			{% endblock footer_logo %}
			<div class="col-md-6">
				<h5>&copy; <span class="thick">2013 National Honor Society</span> <br><br><span class="thin">at Cherry Creek High School</span></h5>
			</div>
		</div>
	</div>
</footer>
{% endblock base_content %}