{% load static base_extras flatpages %}

{% get_flatpages for user as flatpages %}

<div class="navbar navbar-inverse navbar-static-top">
  	<div class="container">
	  	<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		    	<span class="sr-only">Toggle navigation</span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    </button>

            <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static "img/nhs-logo-on-black.svg" %}" alt=""></a>
            {# <a href="{% url 'home' %}" class="navbar-brand">Merit</a> #}
        </div>

        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="{% navactive request 'home' %}"><a href="{% url 'home' %}">Home</a></li>

                {% for flatpage in flatpages %}
                	<li class="{% flatpageactive request flatpage.url %}"><a href="{% url 'django.contrib.flatpages.views.flatpage' url=flatpage.url %}">{{ flatpage.title }}</a></li>
                {% endfor %}
                {# <li><a href="#">Board</a></li> #}
            </ul>
            
            {% if user.is_authenticated %}
            <a href="{% url 'merit-logout' %}" class="btn btn-on-black btn-primary navbar-btn pull-right">Sign out</a>
            {% else %}
            <a href="{% url 'merit-login' %}" class="btn btn-on-black btn-primary navbar-btn pull-right">Sign in</a>
            {% endif %}
        </div>
  	</div>
</div>