{% load captureas static dajaxice_templatetags %}

{% captureas title %}
  {% block title %}{% endblock %}
{% endcaptureas %}

{% captureas body_id %}{% block body_id %}{% endblock %}{% endcaptureas %}



<!doctype html>
<html>
	<head>
		{# <title>{{ title }} — {{ site.title }}</title> #}
		<title>{{ title }} — Creek NHS</title>

		<link rel="stylesheet" type="text/css" href="{% static "css/merit.css" %}">
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

		<!-- jQuery -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- Bootstrap -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<!-- Mobile settings -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!-- Ajax -->
		{% dajaxice_js_import %}
		<script src="{% static "/static/dajax/jquery.dajax.core.js" %}"></script>
		<script src="{% static "js/ajax.js" %}"></script>

		<!-- UI -->
		<script src="{% static "js/ui.js" %}"></script>

		{% block head_extras %}{% endblock head_extras %}
	</head>
	<body id="{{ body_id }}">
		{% block base_content %}{% endblock base_content %}
	</body>
</html>