{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Change password{% endblock title %}

{% block body_id %}password{% endblock body_id %}

{% block base_content %}
<section class="tile inverted">
	<div class="container">
		<div class="row button-aligned-title">
			<div class="col-md-1 col-md-offset-1">
				<br>
				<a onclick="history.back()" class="btn btn-block btn-dark btn-lg btn-on-black"><span class="glyphicon glyphicon-arrow-left"></span></a>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-10">
						<h2 class="thick">Change your password</h2>
						<h3 class="thin muted">All the cool kids are doing it.</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="light">
					</div>
				</div>
					<form action="{% url 'merit-change-password' %}?next={% url 'merit-home' %}" class="form-horizontal pretty-form" role="form" method="post">
						{% csrf_token %}
					 	{% bootstrap_form form horizontal=True label_class="col-md-3 hidden" field_class="col-md-12" %}
					 	<br>
					 	{% bootstrap_form_buttons %}
					 		<div class="col-md-12">
					    		<button type="submit" class="btn btn-thick btn-big btn-block btn-on-black btn-info">Change password</button>
					    	</div>
						{% end_bootstrap_form_buttons %}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock base_content %}