{% extends "base_page.html" %}

{% load markup attachments_tags %}

{% block title %}Announcements{% endblock title %}
{% block body_id %}home{% endblock body_id %}

{% block content %}
{% for announcement in announcements %}
{% get_attachments_for announcement as "attachments_list" %}
<section class="tile">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-offset-2 button-aligned-title">
				<h2 class="thick">{{ announcement.title }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<span class="text-muted">posted by</span> <span class="muted">{{ announcement.author.get_full_name }}</span> <span class="text-muted">on</span> <span class="muted">{{ announcement.published|date }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<article class="col-md-6 col-md-offset-2">
				{{ announcement.content_html }}
				<br><br>
				<p class="center muted hidden-xs hidden-sm">. . .</p>
				<hr class="visible-xs visible-sm">
			</article>
			{% if attachments_list %}
			<div class="col-md-3">
				<h5 class="thick muted">Attachments</h5>
				<div class="list-group">
					{% for attachment in attachments_list %}
						<a href="{{ attachment.attachment_file.url }}" class="list-group-item">{{ attachment.filename }} {{ attachment.attachment_file.size }}</a>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endfor %}
{% endblock content %}