{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Logged out{% endblock title %}

{% block body_id %}login{% endblock body_id %}

{% block base_content %}
<section class="tile inverted">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="row">
					<div class="col-md-10">
						<h2 class="thick">You have logged out.</h2>
						<h3 class="thin muted">Thanks for stopping by!</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="light">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<br>
						<div class="btn-group btn-group-justified">
							<a href="{% url 'merit-login' %}" class="btn btn-on-black btn-primary btn-big">Sign back in</a>
							<a href="{% url 'home' %}" class="btn btn-on-black btn-dark btn-big">Go home &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock base_content %}