{% extends "base_page.html" %}

{% load humanize markup timedelta rsvp %}

{% block title %}{{ occurrence.title }}{% endblock title %}
{% block body_id %}occurrence{% endblock body_id %}

{% block head_extras %}
	<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
	<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
{% endblock head_extras %}

{% block content %}
<section class="tile occurrence-map">
	<figure id="map"></figure>
</section>

<section class="tile">
	<div class="container">
		<div class="row button-aligned-title">
			<div class="col-md-1 col-md-offset-1">
				<br>
				<a onclick="history.back()" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-arrow-left"></span></a>
			</div>
			<div class="col-md-3 col-md-push-7">
				<br>
				<div class="btn-group btn-group-justified">
					{% rsvp_button request occurrence %}
					<a href="{% url 'merit-print' id=occurrence.id %}" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-print"></span></a>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-3">
				<h2 class="thick">{{ occurrence.title }}</h2>
			</div>
			
			<div class="col-md-10 col-md-offset-2">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-push-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						Details
					</div>
					<table class="table">
						<tr>
							<td>Date</td>
							<td>{{ occurrence.start_time|date }}</td>
						</tr>
						<tr>
							<td>Time</td>
							<td>{{ occurrence.start_time|time }} — {{ occurrence.end_time|time }}</td>
						</tr>
						<tr>
							<td>Duration</td>
							<td>{{ occurrence.duration|timedelta }}</td>
						</tr>
						<tr>
							<td>Attendance</td>
							<td>
								{{ occurrence.users.count }}{% if occurrence.event.capacity %}/{{ occurrence.event.capacity }} 
								{{ occurrence.event.capacity|pluralize:"person,people" }}
								{% else %}
								{{ occurrence.users.count|pluralize:"person,people" }}
								{% endif %}
								{% if occurrence.is_full %}
									<span class="label label-warning">Full</span>
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
				<hr class="visible-xs visible-sm">
			</div>
			<article class="col-md-6 col-md-offset-2 col-md-pull-3">
				{{ occurrence.description|markdown }}
			</article>
		</div>
	</div>
</section>


<script>
	var place;

	{% if occurrence.event.place.latitude %}
		place = {
			lat: {{ occurrence.event.place.latitude }},
			lon: {{ occurrence.event.place.longitude }}
		}
	{% endif %}

	var map = L.map('map')
	    .setView([39.739167, -104.984722], 10)
	    .addLayer(L.mapbox.tileLayer('awhitty.map-4w0kpz78', {
	        detectRetina: true,
	        retinaVersion: 'awhitty.map-4w0kpz78'
	    }));

	if (place) {
		map.setView([place.lat, place.lon], 16)

		L.mapbox.markerLayer({
			// this feature is in the GeoJSON format: see geojson.org
			// for the full specification
			type: 'Feature',
			geometry: {
				type: 'Point',
			// coordinates here are in longitude, latitude order because
			// x, y is the standard for GeoJSON and many formats
				coordinates: [place.lon, place.lat]
			},
			properties: {
				title: '{{ occurrence.event.place.name }}',
				description: '{{ occurrence.event.place.address }}',
				// one can customize markers by adding simplestyle properties
				// http://mapbox.com/developers/simplestyle/
				'marker-size': 'medium',
				'marker-color': '#39474C'
			}
		}).addTo(map);
	}

	// map.touchZoom.disable();
	map.scrollWheelZoom.disable();
	// map.dragging.disable();
</script>
{% endblock content %}