{% load rsvp timedelta markup %}

<tr class="trow" data-id="{{ occurrence.pk }}" data-tags="{{ occurrence.tags }} {% if not occurrence.is_full %}empty{% endif %} {% if not occurrence.passed %}not-passed{% endif %} {% if occurrence.event.period %}period-{{ occurrence.event.period }} {% endif %}">
  <td class="mult">{{ occurrence.start_time|date:"D, F, jS" }}</td>
  <td>{{ occurrence.start_time|date:"P" }} to {{ occurrence.end_time|date:"P" }}</td>
  <td>
    <a class="modal-toggle" data-toggle="modal" data-id="{{ occurrence.id }}" href="#">{{ occurrence.title }}</a>
    {% if occurrence.is_full %}<span class="label label-warning">Full</span>{% endif %}
    {% if occurrence.event.required %}
      <span class="label label-info">Req</span>
    {% endif %}
  </td>
  <td>{{ occurrence.description|markdown|striptags|truncatewords:5 }}</td>
  <td>{{ occurrence.duration|timedelta }}</td>
  <td>{% rsvp_button request occurrence %}</td>
</tr>