{# TODO: Contact information for supervisor #}
{% extends "base_print.html" %}
{% block title %}Private Event{% endblock %}
{% load markup events_extras %}
{% block content %}
<h3>Event:</h3><br /><h4>Location:</h4>
<table id="theTable">
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th>Signature & Contact</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
{% endblock %}
{# {% block bottom %} #}
{# <p class="help_text">Upon completion of this volunteering event, present this event sheet to your supervisor for a <strong>signature</strong> and your eight digit <strong>verification code</strong> if available. {% if rsvped %} If you have an iOS or Android device, you may verify your hours immediately by scanning the QR code.{% endif %}</p> #}
{# <div class="left"> #}
{#   <div class="signature">Signature</div> #}
{#   <div class="sig-date">Date</div> #}
{#   <table class="verification-code"> #}
{#     <tr> #}
{#       <td></td> #}
{#       <td></td> #}
{#       <td></td> #}
{#       <td></td> #}
{#       <td></td> #}
{#       <td></td> #}
{#       <td></td> #}
{#       <td></td> #}
{#     </tr> #}
{#   </table> #}
{#   <div class="veri-label">Verification Code</div> #}
{# </div> #}
{# {% if rsvped %} #}
{# <div class="right"> #}
{#   <div class="qr-code"> #}
{#     <img src="https://chart.googleapis.com/chart?chs=400x400&cht=qr&chl=http://creeknhs.org{% url events:verify-rsvp 1 %}" alt="" /> #}
{#   </div> #}
{# </div> #}
{# {% endif %} #}
{# {% endblock %} #}